.tope{
    height: 20rem;
    background-image: url('../IMG/img_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-position: center center;
    background-color: #030f33;
    
    /* background-attachment: fixed; */
}
.navbar{
    background-color: #030f33;
    color: aliceblue;
}
.fondopost{
    background-color: #e3edff;
}
